*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*## Colors
    ### Primary*/
    --Lime-Green: hsl(163, 72%, 41%);
    --Bright-Red: hsl(356, 69%, 56%);

    --Facebook: hsl(208, 92%, 53%);
    --Twitter: hsl(203, 89%, 53%);
    --Instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    --YouTube: hsl(348, 97%, 39%);
    /*#### Dark Theme*/
    --Toggle-Dark-Mode: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    /*#### Light Theme*/
    --Toggle-Light-Mode: hsl(230, 22%, 74%);
    /*### Neutral
    #### Dark Theme*/
    --Very-Dark-Blue-1 /*(BG)*/: hsl(230, 17%, 14%);
    --Very-Dark-Blue-2 /*(Top BG Pattern)*/: hsl(232, 19%, 15%);
    --Dark-Desaturated-Blue /*(Card BG)*/: hsl(228, 28%, 20%);
    --Desaturated-Blue /*(Text)*/: hsl(228, 34%, 66%);
    --White /*(Text)*/: hsl(0, 0%, 100%);
    /*#### Light Theme*/
    --White /*(BG)*/: hsl(0, 0%, 100%);
    --Very-Pale-Blue /*(Top BG Pattern)*/: hsl(225, 100%, 98%);
    --Light-Grayish-Blue /*(Card BG)*/: hsl(227, 47%, 96%);
    --Dark-Grayish-Blue /*(Text)*/: hsl(228, 12%, 44%);
    --Very-Dark-Blue /*(Text)*/: hsl(230, 17%, 14%);
}

body {
    font-family: 'Inter', sans-serif;
    max-width: 100vw;
    height: 100vh;
    background-color: var(--White);
}

body.dark {
    background-color: var(--Very-Dark-Blue-1);
}

.header {
    width: 100%;
    height: 30%;
    padding: 1.5rem 7rem;
    background-color: var(--Very-Pale-Blue);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header.dark {
    background-color: var(--Very-Dark-Blue-2);
}

.header .dashboard-total-followers  h1 {
    color: var(--Very-Dark-Blue);
}

.header .dashboard-total-followers  h1.dark {
    color: var(--White);
}

.header .dashboard-total-followers  p {
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--Dark-Grayish-Blue);
}

.header .dark-mode {
    display: flex;
    align-items: center;
    margin-top: .5rem
}

.header .dark-mode p {
    margin-right: .8rem;
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--Dark-Grayish-Blue);
}

.header .switch {
    width: 3rem;
    height: 1.5rem;
    background: var(--Toggle-Light-Mode);
    border-radius: 1rem; 
    position: relative;
}

.header .switch.dark {
    background: var(--Toggle-Dark-Mode);
}

.header .switch input {
    width: 0;
    height: 0;
    opacity: 0;
}

.header .switch .slider {
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: var(--White);
    top: 50%;
    left: .2rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: .3s;
    transition: all .3s ease;
}

.header .switch .slider.dark {
    background-color: var(--Very-Dark-Blue-1);
}

.header .switch input:checked + .slider {
    -webkit-transform: translate(1.4rem, -50%);
    transform: translate(1.4rem, -50%);
}


.container {
    width: 100%;
    padding: 1.5rem 7rem;
    display: flex;
    flex-direction: column;
    background-color: var(--White);
}

.container.dark {
    background-color: var(--Very-Dark-Blue-1);
}

.container h2 {
    margin-bottom: 1rem;
}

.container h2.dark {
    color: var(--White);
}

.container .total-overview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 0 1.5rem;
    margin-bottom: 2rem;
}

.container .total-overview .total {
    padding: 1.5rem 0;
    margin-top: -6.5rem;
    text-align: center;
    background-color: var(--Light-Grayish-Blue);
    border-top-left-radius: .3rem .2rem;
    border-top-left-radius: .3rem .2rem;
    border-top-right-radius: .3rem .2rem;
    border-bottom-right-radius: .3rem;
    border-bottom-left-radius: .3rem;
}

.container .total-overview .total.dark {
    background-color: var(--Dark-Desaturated-Blue);
}

.container .total-overview .facebook {
    border-top: .2rem solid var(--Facebook);
}

.container .total-overview .twitter {
    border-top: .2rem solid var(--Twitter);
}

.container .total-overview .instagram {
    background: linear-gradient(var(--Light-Grayish-Blue), var(--Light-Grayish-Blue)) padding-box,
                var(--Instagram) border-box;
    border-top: .2rem solid;
    border-color: transparent;
}

.container .total-overview .instagram.dark {
    background: linear-gradient(var(--Dark-Desaturated-Blue), var(--Dark-Desaturated-Blue)) padding-box,
                var(--Instagram) border-box;
}

.container .total-overview .youtube {
    border-top: .2rem solid var(--YouTube);
}

.container .total-overview .total .name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.container .total-overview .total .name p {
    margin-left: .5rem;
    font-size: 0.875rem;
    color: var(--Dark-Grayish-Blue);
}

.container .total-overview .total h3 {
    font-size: 3.5rem;
    color: var(--Very-Dark-Blue);
}

.container .total-overview .total h3.dark {
    color: var(--White);
}

.container .total-overview .total > p {
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: var(--Dark-Grayish-Blue);
    margin-bottom: 1.5rem;
}

.container .total-overview .total > div:last-child {
    display: flex;
    justify-content: center;
}

.container .total-overview .total > div:last-child p{
    font-size: 0.75rem;
    font-weight: 700;
    margin-left: .2rem;
}

.container .total-overview .total .positif {
    color: var(--Lime-Green);
}

.container .total-overview .total .negatif {
    color: var(--Bright-Red);
}

.container .total-overview .total > div:last-child img {
    align-self: center;
}

.container .today-overview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1.25rem 1.5rem;
}

.container .today-overview .today {
    padding: 1.5rem;
    background-color: var(--Light-Grayish-Blue);
    display: flex;
    justify-content: space-between;
    border-radius: .3rem;
}

.container .today-overview .today.dark {
    background-color: var(--Dark-Desaturated-Blue);
}

.container .today-overview .today > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem 0;
}

.container .today-overview .today > div:first-child p {
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--Dark-Grayish-Blue);
}

.container .today-overview .today > div:first-child span {
    height: fit-content;
    font-size: 2rem;
    font-weight: 700;
    color: var(--Very-Dark-Blue);
}

.container .today-overview .today > div:first-child span.dark {
    color: var(--White);
}

.container .today-overview .today > div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0rem 0;

}

.container .today-overview .today > div:last-child img {
    align-self: center;
}

.container .today-overview .today > div:last-child > div {
    display: flex;
}

.container .today-overview .today > div:last-child > div p {
    font-size: 0.6875rem;
    margin-left: .2rem;
}

.container .today-overview .today > div:last-child > .positif p{
    color: var(--Lime-Green);
}

.container .today-overview .today > div:last-child > .negatif p{
    color: var(--Bright-Red);
}

@media(hover: hover) {
    .header .switch:hover {
        cursor: pointer;
        background: var(--Toggle-Dark-Mode);
    }

    .container .total-overview .total:hover {
        cursor: pointer;
        background-color: rgba(211, 211, 211);
    }

    .container .total-overview .instagram:hover {
        background: linear-gradient(rgb(211, 211, 211), rgb(211, 211, 211)) padding-box,
                var(--Instagram) border-box;
    }

    .container .total-overview .instagram.dark:hover {
        background: linear-gradient(rgb(61, 69, 109), rgb(61, 69, 109)) padding-box,
                var(--Instagram) border-box;
    }

    .container .total-overview .total.dark:hover {
        cursor: pointer;
        background-color: rgb(61, 69, 109);
    }

    .container .today-overview .today:hover {
        cursor: pointer;
        background-color: rgba(211, 211, 211, .5);
    }

    .container .today-overview .today.dark:hover {
        cursor: pointer;
        background-color: rgba(84, 93, 133, 0.5);
    }
}

@media(max-width: 975px) {

    .container .total-overview {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 1.3rem 1.5rem;
    }

    .container .total-overview .instagram {
        margin-top: 0rem;
    }

    .container .total-overview .youtube {
        margin-top: 0rem;
    }

    .container .today-overview {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, auto);
    }
}

@media(max-width: 775px) {

    body {
        height: auto;
    }

    .header {
        padding-bottom: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-radius: 0 0 2rem 2rem;
    }

    .header .dark-mode {
        width: 100%;
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
    }

    .header .dashboard-total-followers {
        width: 100%;
        padding-bottom: 1.5rem;
        border-bottom: .2rem solid var(--Dark-Desaturated-Blue);
    }

    .container .total-overview {
        margin-top: -4rem;
    }

    .container .total-overview .facebook {
        margin: 0rem;
    }

    .container .total-overview .twitter {
        margin: 0rem;
    }
}

@media(max-width: 650px) {

    .header {
        padding: 1.5rem 3rem 5rem;
    }

    .header .dashboard-total-followers  h1 {
        font-size: 1.5rem;
    }

    .container {
        width: 100%;
        padding: 1.5rem 3rem;
    }

    .container .total-overview {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, auto);
    }

    .container .today-overview {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, auto);
    }
}

@media(max-width: 475px) {
    .header {
        padding: 1.5rem 1rem 5rem;
    }

    .container {
        width: 100%;
        padding: 1.5rem 1rem;
    }
}